#wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* 배경 비디오 설정  */
.back-video {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: 0;
  bottom: 0;
  object-fit: cover;
  filter: brightness(0.4);
}

.back-video source {
  width: 100%;
  height: 100%;
}

/* SECTION */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(180%);
}

section .contents {
  text-align: center;
}

section .contents h1 {
  color: #fff;
  font-size: 72px;
  transform: translate(0, -50%) perspective(300px) rotateX(20deg);
  font-weight: 700;
  user-select: none;
  filter: drop-shadow(0 0 2px #fff);
}

section .contents p {
  color: #bbb;
  margin-top: -40px;
  text-align: center;
  transform: perspective(300px) rotateX(20deg);
  font-weight: 300;
  font-size: 40px;
  user-select: none;
}

#main-btn {
  display: inline-block;
  transform: perspective(300px) rotateX(20deg);
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 60px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  margin-top: 40px;
  border-radius: 30px;
  transition: all 0.5s ease;
}

#main-btn:hover {
  color: #fff;
  filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff)
    drop-shadow(0 0 15px #fff);
}
